.faq-list {
  list-style-type: none;
  padding-inline-start: 0;
  padding: 1em 0 3em 0;

  & ul {
    list-style-type: none;
    padding-inline-start: 0;
    li {
      margin: .5rem 0;
       a { text-decoration: none; }
    }
  }
}

.faq-section {
  ul li{
    list-style-type: disclosure-closed;
    margin: 0.5em 0;
  }
}