.faq-list {
  list-style-type: none;
  padding-inline-start: 0;
  padding: 1em 0 3em 0;

  li {
    margin: .5rem 0;
      a { text-decoration: none; }
  }
}

.faq-section {
  margin: 1em 0;

  summary {
    font-size: 15pt;
    cursor: pointer;

    &::marker {
      font-size: 10pt;
    }
  }

  ul li{
    margin: 0.5em 0;
  }
}