.hero {
    background: var(--background-primary);
    padding: 1em;
    margin-bottom: -20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

.hero-content img {
    width: 300px;
    position: relative;
    z-index: 1;
}

.hero-text{
    width: 100%;
}

.hero-bottom {
    position: relative;
}
.hero-bottom svg {
    position: absolute;
    top: 0;
}

@media screen and (min-width: 821px) {
    .hero-content {
        display: flex;
        flex-direction: row;
        padding-top: 3em;
    }
    .hero-text{
        width: 50%;
        padding: 0em 2em;
    }
    .hero-content img {
        width: 450px;
    }

    .hero-bottom svg {
        position: absolute;
        top: -40px;
    }
    
    .hero-bottom svg:nth-child(2) {
        position: absolute;
        top: -80px;
    }
}